.livePage_container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background: rgb(105,101,222);
    background: linear-gradient(90deg, rgba(105,101,222,1) 60%, rgba(151,110,219,1) 100%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.logo_livePage {
    margin-top: 2%;
    width: 100%;
    height: 15%;
    font-family: 'Gobold', sans-serif;
    font-style: italic;
    font-size: 1.2em;
    color: white;
    position: relative;
    z-index: 3;
    animation-duration: 1.5s;
}

.logo_livePage span {
    background-image: url(https://img.freepik.com/free-photo/_40163-61.jpg?size=626&ext=jpg); 
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-name: fluid;
    background-size: 800%;
}

.video_container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 97%;
}

.video {
    height: 70%;
    width: 70%;
    border-radius: 15px;
}

.live_alert {
    margin: 20px;
    height: 20px;
    width: 50px;
    background-color: #151515;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-family: "gobold";
    font-style: italic;
    font-size: 0.6em;
    position: relative;
    top: -100%;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.redCircle {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
}

.livePage_footer_container {
    padding: 10px 0px;
    margin: 10px 0px 0px 0px;
    height: 45vh;
    width: 100%;
    background-color: #151515;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

.livepage_footer {
    height: auto;
    width: 100%;
    padding: 0px 0px 5px 0px;
}

.livepage_footer__line {
    height: 5px;
    width: 100%;
    background-image: url(https://img.freepik.com/free-photo/_40163-61.jpg?size=626&ext=jpg); 
    background-size: 800%;
}

.logo_livePage--footer {
    margin-top: 1%;
    width: 100%;
    height: auto;
    font-family: 'Gobold', sans-serif;
    font-style: italic;
    font-size: 1.2em;
    color: white;
    animation-duration: 1.5s;
}

.logo_livePage--footer span {
    background-image: url(https://img.freepik.com/free-photo/_40163-61.jpg?size=626&ext=jpg); 
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-name: fluid;
    background-size: 800%;
}
  
@keyframes fluid {
    from {
      background-position: top;
    }
  
    to {
      background-position: bottom;
    }
}

.socialMedia--footer {
    margin-top: 1%;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.socialMedia--footer a {
    margin: 0px 5px;
    font-size: 1em;
    text-decoration: none;
    color: white;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.socialMedia--footer--icon {
    cursor: pointer;
}
