.headerCointainer {
    min-height: 100vh;
    height: 100vh;
    background-color: #6965DE;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    /* background-image: url("./assets/header-img.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat; */
    position: relative;
    z-index: 1;
}

.headerBackgroundImage {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-image: url("./assets/header-img.png");
    background-color: transparent;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0%;
    z-index: 2;
    animation-duration: 5s;
}

.logo {
    margin-top: 50px;
    width: 100%;
    height: 15%;
    font-family: 'Gobold', sans-serif;
    font-style: italic;
    font-size: 2em;
    color: white;
    position: relative;
    z-index: 3;
    animation-duration: 1.5s;
}
  
.logo span {
    background-image: url(https://img.freepik.com/free-photo/_40163-61.jpg?size=626&ext=jpg); 
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-name: fluid;
    background-size: 800%;
}
  
@keyframes fluid {
    from {
      background-position: top;
    }
  
    to {
      background-position: bottom;
    }
}

.mainContainer {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    z-index: 3;
}

.main__date {
    font-family: 'Gobold', sans-serif;
    font-size: 2em;
    color: white;
    display: flex;
    flex-flow: row nowrap;
}

.main__date span {
    color: #DBE120;
}

.main_title_container{
    max-width: 500px;
    width: 100%;
    font-size: 12px;
}

.main__title {
    margin: 50px 10px 0px 10px;
    font-family: 'Gobold', sans-serif;
    color: white;
    font-style: italic;
    font-size: 6em;
    animation-duration: 3s;
}

.socialMedia {
    height: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.socialMedia_icon {
    cursor: pointer;
}

.socialMedia a {
    margin: 0px 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    display: flex;
    flex-flow: row;
    align-items: center;
}

@media (max-width: 500px) {
    .logo {
        font-size: 1.5em;
    }

    .main__date {
        font-size: 1.5em;
    }

    .main__title {
        font-size: 4em;
    }
}

@media (max-height: 600px) {

    .logo {
        margin-top: 20px;
    }

    .main__title {
        font-size: 4em;
        margin-top: 20px;
    }

    .signUpForm_container {
        margin-top: 10px;
    }

    .signUpForm {
        height: 40px;
    }

    .signUpForm div button {
        height: 38px;
    }
}

@media (max-height: 400px) {
    .logo {
        font-size: 1.1em;
    }
}